.topnav {
  overflow: hidden;
  background-color: goldenrod;
  margin-bottom: 10px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 18px;
}

.merchant {
  display: flex;
  justify-content: space-between;
  margin: 0 18%;
}

.merchant img {
  width: 150px;
}
